* {		/*added for sticky footer*/
 box-sizing: border-box;
}

*:before,
*:after {		/*added for sticky footer*/
 box-sizing: border-box;
}

body {
text-align: center;
margin: 0;
background-color: #f8f4e3;
height: 100%;		/*sticky footer*/
position: relative;		/*sticky footer*/
}

.main-container {		/*added for sticky foot*/
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px; /* height of your footer */
}

h1 {
font-family: "Raleway", sans-serif;
color: #ffe0b5;
letter-spacing: 1px;
font-weight: 400;
font-size: 45px;
text-transform: uppercase;
margin: 0;
}

a {
	font-family: "Raleway", sans-serif;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 150px;
	border-bottom: 2px solid transparent;
}

a:hover {
	border-bottom: 2px solid #00A6B3;
}

h2 {
	font-family: "Raleway", sans-serif;
	color: #686460;
	letter-spacing: 1px;
	font-weight: 900;
	font-size: 20px;
	text-transform: uppercase;
}

p {
font-family: "Droid Serif", serif;
line-height: 26px;
font-size: 18px;
color: #9e9891;
}

header {
	background-color: #f56960;
	color: #FFFFFF;
	padding: 30px 20px;
}

nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 20px auto;
}

main {
	width: 850px;
	margin: 35px auto;
}

img {
	margin: 40px 8px 0 8px;
}

footer {
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #00A6B3;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
	margin-bottom: 0px;
	position: absolute; /*added for sticky footer*/
	bottom: 0;		/*added for sticky footer*/
	width: 100%;	/*added for sticky footer*/
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.copyright {
	color: white;
	float: left;
}

.message {
	color: white;
	float: right;
}

.name {
	color: #f56960;
	font-weight: 700;
}

.game-links {
	font-family: "Raleway", sans-serif;
	color: #9e9891;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
}

#weird-link {
	float: right;
}

#weird-link:hover {
	border-bottom: 2px solid #FFFFFF;
}